<p id="notice"><%= notice %></p>

<p>
  <strong>Photographer:</strong>
  <%= photographer_name %>
</p>

<p>
  <strong>Event:</strong>
  <%= event_name %>
</p>
<p>
	<strong>image:</strong>
	<%= image_tag @photo.image.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
