<%= link_to 'Back', photos_path %>
<p id="notice"><%= notice %></p>

	<%= image_tag @photo.image.url(:large) %>
<p>
  <strong>Photographer:</strong>
  <%= photographer_name %>
</p>

<p>
  <strong>Event:</strong>
  <%= event_name %>
</p>




<!-- if logged in -->
<% if false %>
<%= link_to 'Edit', edit_photo_path(@photo) %>
<% end%>


