<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
	<meta name=viewport content="width=device-width, initial-scale=1">
	<%= csrf_meta_tags %>
	<!--[if lt IE 9]>
	  <%= javascript_include_tag 'html5shiv-printshiv' %>
	<![endif]-->
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
	  <header class="pure-g-r">
		  <p class="pure-u-1 SiteLogo pure-menu-heading">Kyle Falconer Photography</p>
		  <!--  <%= link_to logo,	root_path %>-->
		  <nav id="site_nav" class="pure-u-1 pure-menu pure-menu-open pure-menu-horizontal">
			  <ul>
				  <li><%= link_to "Portfolio", root_path %></li>
				  <li><%= link_to "About", about_path %></li>
				  <li><%= link_to "Contact", contact_path %></li>
			  </ul>
		  </nav>
		  
		  <% if user_signed_in? %>
		  <nav id="user_controls" class="pure-u-1">
		  	<p>Signed in as <%= current_user.name %>.</p>
		  	<ul>
		  		<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete  %></li>
		  		<li><%= link_to "Dashboard", dashboard_path %></li>
		  	</ul>
	  	  </nav>
		  <% end %>
		  
		  <% if flash[:notice] %>
		  <div class="notice pure-u-1"><%= flash[:notice] %></div>
		  <% end %>
	  </header>

	  <%= yield %>
	  <% if false %>
	  <%= debug(params) if Rails.env.development? %>
	  <% end%>

	  <footer class="pure-g-r">
		  <section class="pure-u-1">
			 <p>&copy; 2014 Kyle Falconer</p>
		  </section>
	  </footer>

	  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-51236811-1', 'kylefalconer.photography');
  	  ga('require', 'displayfeatures');
	  ga('send', 'pageview');
	  </script>

  </body>
</html> 


